## .NET / C#
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

## IDE
.vs/
.idea/
*.DotSettings.user

## NuGet
packages/

## Thunderstore
thunderstore/build/
thunderstore/*.zip

## OS
Thumbs.db
Desktop.ini
.DS_Store
